language: generic
services:
    - docker

before_install:
    - docker build -t lukaszkoziol/react-test -f ./client/Dockerfile.dev ./client

script:
    - docker run -e CI=true lukaszkoziol/react-test npm test

after_success:
    - docker build -t lukaszkoziol/multi-client ./client 
    - docker build -t lukaszkoziol/multi-nginx ./nginx
    - docker build -t lukaszkoziol/multi-server ./server
    - docker build -t lukaszkoziol/multi-worker ./worker

    # Log in to the docker CLI
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
    # Take those images and push to the Docker Hub
    - docker push lukaszkoziol/multi-client
    - docker push lukaszkoziol/multi-nginx
    - docker push lukaszkoziol/multi-server
    - docker push lukaszkoziol/multi-worker